body{
 background-image:url(/background.jpg);
 background-size: auto;
 background-color: black;

}

.welcome{
    color: whitesmoke;
    margin:20%;
}
.welcome:hover{
    color: red;

}
#capy1{
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
}

#capy2{
    height: 300px;
}
#cap2txt{
    color: whitesmoke;
}
.famous{
    margin: 1px;
    height: 400px;
    width: 49%;
}
.drip{
    margin: 1px;
    height: 400px;
    width: 49%;
}

.txt {
    font-size: 3em;
    color: whitesmoke;
}

